.chain {
  margin-top: 35px;

  .streak {
    color: #767676;
  }

  .dbtc {
    color: red;
    font-variant: bold;
  }

  .q0 {
    fill: red !important;
  }

  .q1 {
    background-color: #F7EB68;
    fill: #F7EB68;
  }

  .q2 {
    background-color: #b5cf6b;
    fill: #669d45;
  }

  .q3 {
    background-color: #637939;
    fill: #637939;
  }

  .q3 {
    background-color: #637939;
    fill: #637939;
  }
}

.cal-heatmap-container rect.highlight-now {
  stroke: #aaa;
}

.panel-default > .panel-heading.panel-heading-danger {
  background-color: #ff5050;
}
